.album-card
 {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   width: 185px;
   height: 275px;
   background: rgba(19, 19, 19, 0.4);
   border-radius: 7px;
   margin-top: 20px;
 }

 .album-content {
   display: flex;
   flex-direction: column;
   padding: 20px;
   justify-content: center;
   align-items: center;
 }

 .album-img {
   object-fit: contain;
   border-radius: 10px;
 }

 img {
   border-radius: 10px;
 }

 .album-infos {
   display: block;
   text-align: left;
   width: 100%;
 }
