<app-navigation #inputSearch (foundArtist)="onFoundArtist($event)" [categories]="categories"></app-navigation>
<div class="full-height">
  <div class="container">
    <div>
      <app-sidebar></app-sidebar>

    </div>
    <div class="artist-infos-container" *ngIf="artists.length > 0">
      <h1>Search Results...</h1>
      <div class="artist-infos-row">
        <app-card *ngFor="let artist of artists" [name]="artist.name" [image]="artist.image"></app-card>
      </div>
    </div>

    <div class="header">
      <h1>Browse All</h1>
    </div>
    <div class="albums-row">
        <app-category-card *ngFor="let categ of categories" [image]="categ.icon" [category]="categ.name"></app-category-card>
    </div>
  </div>



</div>
