.input {
  display: flex;
  align-items: center;
}

.input span {
  position: relative;
  left: 1px;
  z-index: 2;
}

.input input {
  width: 15%;
  border: 0;
  padding:8px 10px;
  border-radius: 20px;
  border: 1px solid;
  position: absolute;
  z-index: 0;
  text-indent: 15px;
}

::-webkit-input-placeholder {
  text-indent: 15px;

}

:-moz-placeholder {
  text-indent: 15px;
}

.input input:focus {
  outline: 0;
}
